.custom-select {
  position: relative;
}

.combo-box {
  position: relative;
  display: inline-block;
}

input[type='text'] {
  padding-right: 40px;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%) rotate(0deg);
  background: none;
  border: none;
  cursor: pointer;
  &.test{
    transform: translateY(-50%) rotate(90deg);
    background: none;
    border: none;
  }
  transition: all, 1 1 1;
}



.clear-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 150px;
  overflow-y: auto;
}

.dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown li:hover {
  background-color: #f2f2f2;
}
